html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.156);
  }

nav {
    background-color: rgb(0, 0, 0);
    height: 5rem;
    
}

nav ul li {
    margin-top: 30px;
    display: inline-block;
    margin-left: 200px;

}

nav ul li a{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul li a:hover {
font-size: larger;
background-color: grey;
}